# http://editorconfig.org
# TODO describe and document the style

root = true

[*]
charset = utf-8
end_of_line = lf
# indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Set default charset
[*.{js,py}]
charset = utf-8

[*.{json,yml,yaml}]
indent_style = space
indent_size = 2

[*.{ini,toml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.py]
indent_style = space
indent_size = 4

[*.{go,c}]
indent_style = tab
indent_size = 8

[*.{html,css,scss}]
indent_style = space
indent_size = 2

# Indentation override for all JS under lib directory
[lib/**.js]
indent_style = space
indent_size = 2

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
