[commit]

	template = ~/.gitmessage

[core]

	# Use custom across machines
	excludesFile = ~/.gitignore
	attributesFile = ~/.gitattributes

[init]

	# Rename the branch main (for github)
	templateDir = ~/.config/git/template/

[push]

	default = current

[user]

	email = millerrye17@gmail.com
	name = Rye Miller
