[alias]

	# View working tree in short format
	s = status -s

	# Show the email for the current repo
	whoami = config user.email

[commit]

	template = ~/.gitmessage

[core]

	# Use custom across machines
	excludesFile = ~/.gitignore
	attributesFile = ~/.gitattributes

	# Speed up commands w/ untracked files
	untrackedCache = true


[diff]

	# Detect copies as well as renames
	renames = copies

[init]

	# Rename the branch main (for github)
	templateDir = ~/.config/git/template/

[push]

	default = current

	# Push my tags too
	followTags = true

[user]

	# User Information
	email = millerrye17@gmail.com
	name = Rye Miller
