#!/usr/bin/env bash
# Environment exports dotfile (.exports)
#
# The basic exports (.extra has everything I don't commit).
#
# Version 0.1.0 [2020-12-27]
# http://github.com/iods/dotfiles
# Copyright (c) 2020, Rye Miller
#
# echo "Loaded [4] fourth in sequence."

# Default Editor
export EDITOR="vim"
